@media screen and (max-width:569px) {
    .container {
        width: 98%;
    }
	img {
		margin: 0px !important;
		width: 50%;
	}
}

img {
    padding: 5px;
    border: 10px solid yellowgreen;
}

.container {
    width: 98%;
}